extends layout

block content

  h1=user.name


  ul
    for r,k in results
      li=list[k].name
      = r 

  h2 Connections

  //- ul
  //-   for connection in connections
  //-     li
  //-       a(href='/users/' + connection.other_id)=connection.name